

body{
    background-image: url('../images/sky.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.input-group img{
    width: 25px;
    height: 25px;
}

.custom-width {
    max-width: 500px;
    margin-top: 10px;
       
}