

body{
    background-image: url('../images/sky.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.input-group img{
    width: 25px;
    height: 25px;
}

.custom-width {
    max-width: 500px;
     
}
.custom-image {
   margin-left: 40px;

}
.reduced-spacing {
    margin-bottom: -26px;
    margin-top: -13px;
}

.input-group {
    margin-bottom: 0; /* Supprime les marges par défaut si nécessaire */
}

.content {
    margin-top: 0;
}

.cont{
    background-color: white;
    display: flex;
    width:40%;
    margin: auto;
    justify-content: space-evenly;
    height: 35px;
    margin-top: -44px;
    border-width: 0 2px 2px 0;
    border-color: black;
    border-style: solid;
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.9); /* Ombre douce */
}
.first img ,.second img{
    width: 35px;
    height: 35px;
    
}

.first  {
    display: flex;
    align-items: center;
}
.second {
    display: flex;
    align-items: center;
}
.first p ,.second p{
    margin-top: 7px;
}

.forecastWeather {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacement entre les cartes */
    width: 90%;
    margin: auto;
    max-width: 1200px;
    margin-top: 50px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 22%; /* Chaque carte occupe environ 1/4 de la largeur */
}

.card img {
    width: 50px;
    height: 50px;
    margin-left: 85px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.card h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.4;
}